
.image {
    height: 100px;
    width: 100px;
}

.cen {
    text-align: center;
    color:black;
  }

#spacing {
    /* background-color: blue; */
    padding-top:10%;
}


#main {
    color:black;
    /* background-color: rgb(49, 49, 49); */
    border: 30px solid rgb(49, 49, 49);
    background-color: whitesmoke;
    border-radius:30px;
    margin-top:100px;
    padding:60px;
    width:1000px;
}
